/* large screen */
.team-page{
    background-color: rgb(247, 243, 243);
    height: 100vh;
  }

.player-roster{
    display: inline-flex;
    text-align: center;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
  }

  /* .team-roster-list {
    overflow-y: scroll;
    border: 1px solid lightgray;
    border-top: none;
    border-left: none;
    padding-top: 10px;
    padding-bottom: 10px;
  } */

  .roster-number {
    text-align: center;
    width: 10%;
    font-style: italic;
    padding: 0px;
    font-size: 14px;
    margin: 0px;
  }
  .roster-name {
    text-align: left;
    padding-left: 10px;
    margin: 0px;
    width: 80%;
  }
  
  .roster-position {
    text-align: right;
    padding-right: 10px;
    width: 10%;
  }

@media screen and (min-width: 721px){
    .team-title {
      color: white;
      text-shadow: 1px 1px 1px black;
      font-size: 40px;
    }
    .team-info {
      margin-left: 1.5em;
    }

    .team-roster-list {
        width: 50%;
      }

    .player-roster{
      width: 80%;
      margin: 4px;
      height: 36px;
      padding: 6px;
      margin-right: 10px;
      font-size: 18px;
      line-height: 24px;
    }

  }
  
  @media screen and (max-width: 720px){
    .team-title {
      color: white;
      text-shadow: 1px 1px 1px black;
      font-size: 30px;
      padding: 0px
    }
  
    .team-location {
      color: white;
      font-size: 10px;
    }
  
    .team-info {
      padding: 0px;
    }

    .player-roster{
        width: 80%;
        margin-bottom: 2px;
        height: 30px;
        padding: 3px;
        font-size: 14px;
        line-height: 24px;
      }
   
    .team-roster-list {
        width: 100%;
      }
  }