body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  border: none;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mlb-team-card {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  padding-bottom: 10px;
  margin: 15px;
}

.mlb-card-title {
  color: white;
  font-size: xx-large;
  margin: 0px;
  margin-bottom: 5px;
}


